/* ##################################### DEFAULTS ############################################### */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, serif;
}

.hero__section {
  background-image: url(images/heroSectionBackground.png);
  min-height: 60dvh;
  background-size: cover;
  background-position: center;
  color: white;
}

/* ##################################### NAVBAR ############################################### */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 14px 45px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar__menu_container {
  display: flex;
  gap: 20px;
}

.user__icon {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/* ##################################### HERO ############################################### */
.hero__section--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: calc(60dvh - 60px);
}

.hero__section--container-logo {
  width: 200px;
  height: auto;
}

.hero__section--container-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 350;
}

.hero__section--container__input {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 50%;
  border-radius: 7px;
}

.hero__section--container__input-location,
.hero__section--container__input-search {
  padding: 5px;
  border: none;
  outline: none;
}

.hero__section--container__input-location {
  width: 35%;
  border-right: 2px solid #e0e0e0;
}

.hero__section--container__input-search {
  width: 65%;
}

/* ##################################### OFFER-CARDS ############################################### */
.container {
  margin: 3rem auto;
  width: 90%;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}

.offers__cards {
  border-radius: 7px;
  min-width: 280px;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  transition: all 0.1s ease-in;
}

.offers__cards:hover {
  transform: scale(1.05);
}

.offers__cards img {
  min-width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: center;
}

.offers__cards--contents {
  padding: 10px;
}

.offers__cards--contents h2 {
  font-size: 20px;
  font-weight: 400;
}

.offers__cards--contents p {
  font-size: 12px;
}

/* ##################################### CPLLECTIONS ############################################### */
.collections h1 {
  font-weight: 600;
}

.collections__sub-heading {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.7rem;
}

.collections__sub-heading :first-child {
  padding-left: 20px;
}
.collections__sub-heading span:nth-child(2) {
  color: #ff7ead;
  cursor: pointer;
  font-size: 13px;
}

.collections__card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.collections__card-container .card {
  height: 300px;
  min-width: 240px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}
.card:hover {
  border-bottom: 5px solid #ff7ead;
}

.card1 {
  background-image: url(images/collection1.jpg);
}
.card2 {
  background-image: url(images/collection2.jpg);
}
.card3 {
  background-image: url(images/collection3.jpg);
}
.card4 {
  background-image: url(images/collection4.jpg);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 7px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.collections__card-container__content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: whitesmoke;
  padding: 12px 16px;
  font-size: 0.6rem;
}

.collections__card-container__content h4 {
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* ############################################### GET APP SECTION ############################################### */

.get__the__app {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 251, 247);
  width: 100%;
  padding: 3rem 6rem;
}

.get__the__app--semi_container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.get__the__app--semi_container-left img {
  max-width: 300px;
  min-width: 200px;
}

.get__the__app--semi_container-right {
  height: 100%;
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 1rem;
}
.get__the__app--semi_container-right h1 {
  font-weight: 400;
  font-size: 2.5vmax;
}
.get__the__app--semi_container-right p {
  font-size: 0.8rem;
}

.semi_container-right--radio_buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.semi_container-right--radio_buttons div {
  display: flex;
  gap: 0.5rem;
}
.radio_buttons {
  outline: none;
  appearance: none;
  padding: 2px;
  height: 16px;
  width: 16px;
  border: 1px solid #ff7ead;
  border-radius: 50%;
}
.radio_buttons:hover {
  box-shadow: 0 0 10px 1px #ff7ead;
}
.radio_buttons:checked {
  box-shadow: 0 0 20px 1px #ff7ead;
}
.radio_buttons:checked:after {
  content: '';
  height: 100%;
  width: 100%;
  float: left;
  background-color: rgba(239, 79, 95);
  border-radius: 100%;
}

.semi_container-right--input_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.semi_container-right--input_container input,
.semi_container-right--input_container button {
  padding: 10px 12px;
}

.semi_container-right--input_container input {
  flex: auto;
  border: 1px solid gray;
  outline: none;
  border-radius: 5px;
}
.semi_container-right--input_container button {
  border: none;
  background-color: rgba(239, 79, 95);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.semi_container-right--input_container button:hover {
  background-color: rgb(255, 55, 75);
}

.semi_container-right--download__app_container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem
}
.semi_container-right--download__app_container h5 {
  color: gray;
  font-weight: 500;
}

.download__app_container--images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.download__app_container--images img{
  width: 125px;
}

/* ############################################### FOOTER ############################################### */
.footer {
  width: 100%;
}

.footer__section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  gap: 1.75rem;
}
.footer__section1 img{
  width: 125px;
}

.footer__btn_container {
  display: flex;
  gap: 1.5rem;
}
.btn_container__content{
  width: 90px;
  padding: 0.36em;
  border: 1px solid gray;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.btn_container__content select{
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__section2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 85%;
  margin: 0 auto;
  gap: 1rem;
  padding: 3rem 0;
}

.sectio2__links {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.sectio2__links h5{
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}

.footer__link {
  text-decoration: none;
  color: gray;
  font-weight: 300;
  font-size: 0.8rem
}
.footer__link:hover {
  color: black;
}

.social__links_container a{
  text-decoration: none;
  background-color: black;
  display: inline-block;
  height: 25px;
  width: 25px;
  position: relative;
  color: white;
  border-radius: 50%;
}
.social__links_container a i{
  font-size: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__section2_logos {
  width: 100%;
}

.footer__disclaimer {
  border-top: 1px gray solid;
  width: 95%;
  margin: auto;
  padding-top: 1.5rem;
  color: grey;
  font-weight: 400;
  font-size: 0.8rem;
}

@media only screen and (max-width: 900px) {
  .footer__section2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 550px){
  .footer__section2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 350px){
  .footer__section2 {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    border-bottom: 1px solid gray;
  }
  .footer__disclaimer {
    display: none;
  }
}

/* ############################################### MOBILE ############################################### */
@media only screen and (max-width: 700px) {
  .user__icon {
    display: flex;
  }

  .link {
    display: none;
  }

  .hero__section {
    min-height: 80dvh;
  }

  .hero__section--container__input-location,
  .hero__section--container__input-search {
    padding: 15px;
    border-radius: 7px;
    width: 95%;
  }

  .hero__section--container__input {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }

  .hero__section--container-heading {
    font-size: 20px;
    width: 95%;
  }

  .collections__sub-heading span:nth-child(2) {
    margin: auto;
  }

  .get__the__app--semi_container-right h1{
    font-size: 1.1rem;
  }
  .get__the__app--semi_container-right,
  .semi_container-right--input_container,
  .download__app_container--images {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}